
@mixin login-button_styling {
    border-radius: 7px;
    color: white;
    border: none;
    padding: 11px 14px;
    font-weight: bold;
    font-size: large;

    background-color: #0B5ED7;
}



.add-account-title {
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #1c1e21;

    // border: 1px solid red;
}

.add-account-modal-header {
    display: flex;
    // border: 1px solid yellow;
    justify-content: center;
}

.add-account-input {
    box-shadow: none !important;
    outline: none !important;
    font-size: 17px;
    border-radius: 7px;

    padding: 12px;

    margin-top: 7px;
}

input[type="email"].add-account-input, input[type="password"].add-account-input {

    background-color: white;

    &::-webkit-input-placeholder {
        color: #93969C;
    }
}

.login-btn {
    width: 100%;
    margin-bottom: 11px;

    @include login-button_styling();

    &:hover {
        background-color: #0B5ED7;
    }
}