

/*
.card {
  width: 12rem;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  margin-right: 17px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-title {
  text-align: center;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: large;
  margin-top: 11px;
  margin-bottom: 11px;
}

.new-account-button {
  background-color: #1ab41a;

  border-radius: 7px;
  color: white;
  border: none;
  padding: 11px 14px;
  font-weight: bold;
  font-size: large;
}

.log-in-button {
  width: 100%;
  margin-bottom: 11px;

  border-radius: 7px;
  color: white;
  border: none;
  padding: 11px 14px;
  font-weight: bold;
  font-size: large;
}

.App {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  border: 4px solid green;
}

.row-1 {
  border: 4px solid orange;
}

.main-container {
  display: flex;
  flex-direction: row;

  justify-content: center;

  border: 1px solid yellow;
}

@media (max-width: 800px) {
  .main-container {
    flex-direction: column;
  }

}

.container-1 {
  border: 1px solid violet;
}

.container-2 {
  //max-width: 31vw;
  //height: auto;
  //max-width: fit-content;
  border: 1px solid red;
}

.form {
  text-align: center;
}

.forgot-password {
  margin-top: 8px;
  text-decoration: none;
  text-align: center;
}

.forgot-password:hover {
  text-decoration: underline;
}

.create-page-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.create-page-link:hover {
  text-decoration: underline;
  color: black;
}

.create-page {
  margin-top: 18px;

  font-size: 14px;
}

.card-group {
  margin-top: 15px;
}

*/